{% extends 'base.html.twig' %}

{% block body %}
    <h1>Features list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Feature</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <td><a href="{{ path('_show', { 'id': feature.id }) }}">{{ feature.id }}</a></td>
                <td>{{ feature.feature }}</td>
                <td>{{ feature.tags }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_show', { 'id': feature.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('_edit', { 'id': feature.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_new') }}">Create a new feature</a>
        </li>
    </ul>
{% endblock %}
